/* General */

html,
body {
    height: 100%;
    max-width: 940px;
    margin: auto;
}

/* CSS Grid: index.html (less than 375px) */

.container index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "main-header main-header main-header"
        "main-nav main-nav main-nav"
        "content-index content-index content-index"
        "main-footer main-footer main-footer";
}

.main-header {
    margin-top: 10px;
    grid-area: main-header;
    background-image: none;
}

.main-nav {
    background-color: rgb(0, 0, 0);
    text-align: center;
    grid-area: main-nav;
}

.main-nav a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 1em;
    text-align: center;
}

.main-nav ul {
    list-style-type: none;
}

.content-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "main-index-text main-index-text main-index-text"
        "main-index-img main-index-img main-index-img"
        "main-index-article-3 main-index-article-3 main-index-article-3"
        "main-index-article-2 main-index-article-2 main-index-article-2"
        "main-index-article-1 main-index-article-1 main-index-article-1";
    grid-area: content-index;
}

.main-index-text {
    grid-area: main-index-text;
}

.main-index-img {
    grid-area: main-index-img;
}

.main-index-img img {
    width: 100%;
    height: auto;
}

.main-index-article-3 {
    grid-area: main-index-article-3;
}

.main-index-article-2 {
    grid-area: main-index-article-2;
}

.main-index-article-1 {
    grid-area: main-index-article-1;
}

.main-footer {
    grid-area: main-footer;
    text-align: center;
    margin-top: 10px;
}

/* CSS Grid: index.html (from 500px) */

@media (min-width: 501px) {

    .main-header {
        background-image: url("../images/skye-1.jpg");
        height: 150px;
    }

    .main-nav ul li {
        display: inline-block;
    }

    .container index {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0;
        grid-auto-flow: row;
        grid-template-areas:
            "main-header main-header main-header"
            "main-nav main-nav main-nav"
            "content-index content-index content-index"
            "main-footer main-footer main-footer";
    }

    .content-index {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        gap: 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "main-index-img main-index-img main-index-text"
            "main-index-article-3 main-index-article-2 main-index-article-1";
        grid-area: content-index;
    }
}


/* CSS Grid: articles.html */

/* CSS Grid: article.html */

/* CSS Grid: contact.html */